- title t('hello')
%h1
  Rails Starter App
  %small 10.1.0
%ul.list-inline.lead
  %li
    Ruby
    %small.text-muted 2.1.3
  %li
    Rails
    %small.text-muted 4.1.6
  %li
    Bootstrap for Sass
    %small.text-muted 3.3.0
  %li
    Font Awesome
    %small.text-muted 4.2.0
