/* Use twbs-variables to define new variables and override Bootstrap defaults.
 * Import "twbs-variables" instead of "twbs/bootstrap/variables"
 * in each new stylesheet.
 */
@import "twbs-variables";

/* Start editing below this line */
@import "twbs/bootstrap";

/* Bootstrap Theme */
//@import "twbs/bootstrap/theme";

/* Glyphs */
//@import "twbs/bootstrap/glyphicons";
@import "fontawesome/font-awesome";

/* Standard Rails form errors */
.field_with_errors {
  @extend .has-error;
}
